<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="rows">
        <div class="col-md-8">
          <h1></h1>
          <hr>
          <form action="/login" method="POST">
            <label>用户名</label>
            <input type="text" name="username" class="form-control">
            <label>密码</label>
            <input type="password" name="password" class="form-control">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="bootstrap/dist/js/bootstrap.min.js"></script>
</html>